.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
  padding: 1rem 10%;
  height: 5rem;
  background-color: #202020;
  flex-direction: row;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
  margin-right: 1rem;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: "Fira", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94fdfd;
}

.logo a {
  text-decoration: none;
  color: #94fdfd;
}

.navigation a {
  text-decoration: none;
  color: #74dacc;
  font-size: 1rem;
  margin-left: 500px;
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.navigation li {
  float: left;
  margin: 0rem;
  display: flex;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 1.5rem;
    margin-left: 500px;
    float: left;
    margin-right: 1rem;
  }
}
