.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 10px;
}

.button {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0077cc;
  color: #fff;
  margin-top: 20px;
}
